# Backend
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
.env
*.log

# Testing and Coverage
.pytest_cache/
.coverage
htmlcov/
.tox/
.nox/
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Python Package Files
*.egg-info/
*.egg
dist/
build/
develop-eggs/
eggs/
parts/
sdist/
var/
wheels/
.installed.cfg
MANIFEST

# Frontend
node_modules/
dist/
.env.local
.env.development.local
.env.test.local
.env.production.local
*.log*
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Database
*.sqlite3
*.db